{% extends 'base.html' %}

{% block content %}

<form action='' method='post' class='form-styles w-25 d-flex flex-column gap-2'>
    {% csrf_token %}
    <h2 class='text-center'>Login</h2>
    {% if form.errors %}
        {% for key, errors in form.errors.items %}
            {% for error in errors %}
                <small class='text-center'>
                    <b class='text-danger'>{{ error }}</b>
                </small>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <input class='form-control' type='email' name='username' id='usernsme' placeholder='E-mail'>
    <input class='form-control' type='password' name='password' placeholder='password'>
    <input type='hidden' name='next' value='{{ request.META.HTTP_REFERER }}'>
    <button class='btn btn-outline-dark' type='submit'>Login</button>
    <b class='text-center'>
        <small>Don't have an account? <a class='text-decoration-none' href='{% url "registration" %}'>Sign up</a></small>
    </b>
</form>
<style>
    .form-styles {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -75%);
    }
</style>

{% endblock content %}