<footer class="py-5 bg-dark {% if footer_fixed %} position-fixed bottom-0 w-100 {% endif %}">
	<div class="container">
		<p class="m-0 text-center text-white">Copyright &copy; My Website 2024</p>
	</div>
</footer>


<!-- {% if is_login or is_register %}
	<footer class="py-5 bg-dark position-fixed bottom-0 w-100">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; My Website 2024</p>
		</div>
	</footer>
{% else %}
	<footer class="py-5 bg-dark">
		<div class="container">
			<p class="m-0 text-center text-white">Copyright &copy; My Website 2024</p>
		</div>
	</footer>
{% endif %} -->